{% extends 'base.html.twig' %}

{% block title %}Modifier l'astuce : {{ tip.title }}{% endblock %}

{% block body %}
    <div class="container">
        <nav class="mb-4">
            <a href="{{ path('app_admin_tip_index') }}" class="text-primary text-decoration-none">
                <i class="bi bi-arrow-left"></i> Retour dashboard astuces
            </a>
        </nav>
        <h1 class="h1 mb-4">Modification de l'astuce : {{ tip.title }}</h1>
        {{ form(form)}}
    </div>
{% endblock %}
