{% extends 'base.html.twig' %}

{% block title %}Créer une astuce{% endblock %}

{% block body %}
    <h1>Créer une astuce</h1>

    {{ include('admin/tip/_form.html.twig') }}

    <a href="{{ path('app_admin_tip_index') }}">Retour dashboard astuce</a>
{% endblock %}
