{% extends 'base.html.twig' %}

{% block title %}Création d'une astuce{% endblock %}

{% block body %}
    <div class="container">
        <nav class="mb-4">
            <a href="{{ path('app_home') }}" class="text-primary text-decoration-none">
                <i class="bi bi-arrow-left"></i> Retour aux astuces
            </a>
        </nav>
        <h1 class="h1 mb-4">Créer une nouvelle astuce</h1>
        {{ form(form)}}
    </div>
{% endblock %}
